Comparar_formatos/senales.bin
Comparar_formatos/senales.csv
Comparar_formatos/senales.h5
Comparar_formatos/senales.npz
Comparar_formatos/senales.raw
Comparar_formatos/senales_filtradas.bin
Comparar_formatos/senales_filtradas.csv
Comparar_formatos/senales_filtradas.h5
Comparar_formatos/senales_filtradas.npz
Comparar_formatos/senales_filtradas.raw