PruebasGenerales/Comparar_formatos/senales.bin
PruebasGenerales/Comparar_formatos/senales.csv
PruebasGenerales/Comparar_formatos/senales.h5
PruebasGenerales/Comparar_formatos/senales.npz
PruebasGenerales/Comparar_formatos/senales.raw
PruebasGenerales/Comparar_formatos/senales_filtradas.bin
PruebasGenerales/Comparar_formatos/senales_filtradas.csv
PruebasGenerales/Comparar_formatos/senales_filtradas.h5
PruebasGenerales/Comparar_formatos/senales_filtradas.npz
PruebasGenerales/Comparar_formatos/senales_filtradas.raw